<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plant Disease Diagnosis</title>
    <link rel="icon" type="image/svg" href="static/images/leaf.svg">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/test.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/newjs.js') }}" type="text/javascript"></script>
</head>

<body>
    <!-- <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Plant Disease Diagnosis</a>

        </div>
    </nav> -->
    <nav class="navbar navbar-light bg-light ">
      <a class="navbar-brand " href="#">
        <img src="static/images/scan.svg" width="30" height="30" class="d-inline-block align-top " alt="">
        Plant Disease Diagnosis
      </a>
    </nav>

    <!-- <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
          <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
      </div> -->

    {% block content %}
    {% endblock %}

</body>

<footer class="fixed-bottom bg-light mt-5">
        
        <!-- Copyright -->
        <div class="text-center p-3 font-weight-bold" style="background-color: rgba(0, 0, 0, 0.2); color: black; ">
          © 2022 Copyright:
          <a class="text-center font-weight-bold">ONE-STOP-AGRO</a>
        </div>
        <!-- Copyright -->
      </footer>

</html>
